.form-wrapper
  padding: 1em
  margin-top: 100px
  position: relative
  z-index: 1
  @media #{$small-only}
    padding: 1em 0.625em
    margin-top: 0
.form-container
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25)
  background-color: white
  .form-header
    text-align: center
    background-color: $main
    color: white
    padding: 20px 0
    .header
      font-size: 1.375em
      text-transform: uppercase
    .under-header
      font-size: 0.875em
      opacity: 0.75
      max-width: 330px
      margin: 0 auto
      +light

  form
    padding: 30px 50px
    @media #{$small-only}
      padding: 30px 20px

    .group
      position: relative
      padding: 10px 0 10px 40px
    .input-icon
      position: absolute
      
      top: 25px
      left: 0
      svg
        fill: $blue
        fill-opacity: 0.5
        +transition(0.25s)
    input
      position: relative
      font-size: 1.25em
      +medium
      padding: 10px 0
      display: block
      color: $main
      width: 100%
      border: none
      outline: none
      background-color: transparent
      border-bottom: 1px solid $blue
      z-index: 1
      &:focus
        outline: none
    label
      color: $blue
      font-size: 1em
      position: absolute
      top: 20px
      transition: all 0.2s ease
    input:focus ~ label, input.used ~ label
      top: 0px
      font-size: 0.75em
      color: $blue

    .bar
      position: relative
      display: block
      width: 100%
      &:before, &:after
        content: ''
        height: 3px
        width: 0
        bottom: 0
        position: absolute
        background: $main
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
      &:before
        left: 0
    input:focus ~ .bar, input.used ~ .bar
      &:before
        width: 100%
        height: 3px
    input:focus ~ .input-icon, input.used ~ .input-icon
      svg
        fill: $main
        fill-opacity: 1
    
    .accept-field
      font-style: italic
      font-size: 14px
      text-align: center
      margin: 20px 0
      .accept-icon
        display: inline-block
        margin-right: 5px
      .accept
        display: inline-block
        color: $blue
      a
        display: inline-block
        color: $main
        margin-left: 5px

    button
      display: block
      margin: 30px auto 0
      +medium

    [type="checkbox"]:not(:checked), [type="checkbox"]:checked
      position: absolute
      left: -9999px

    [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label
      position: relative
      width: 24px
      height: 24px
      display: inline-block
      top: 6px
      cursor: pointer

    [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before
      content: ''
      // background: image_url('svg/checkbox-empty.svg')
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border: 2px solid $blue
      border-radius: 3px
      +transition(0.25s)

    [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after
      content: '✔'
      // background: image_url('svg/checkbox-full.svg')
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      color: white
      font-size: 16px
      +transition(0.25s)

    [type="checkbox"]:checked + label:before
      background-color: $orange
      border: 2px solid $orange

    [type="checkbox"]:not(:checked) + label:after
      opacity: 0
      +scale(0)
    [type="checkbox"]:checked + label:after
      opacity: 1
      +scale(1)
